.category {
  padding: 20px 0;
  font-family: "Inter", sans-serif;
}
.row {
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 20px;
}
.name {
  font-size: 46px;
  margin-bottom: 20px;
}
