.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 1px solid #000;
  width: 82px;
  height: 82px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 5px;
}
.image {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}
.text {
  max-width: 100px;
}
.circle:hover {
  opacity: 0.8;
}
