@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(180deg, #fff 6.1%, #f7f7f7 68.7%);
  font-family: "Poppins", serif;
  font-weight: 400;
}
.conteiner {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}
/* .row {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
  margin: 20px 0;
} */
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  padding: 20px 0;
}
.dark {
  color: #fff;
  background-color: #222;
}
